/* 共通スタイルは外に書く */

.header {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 150px;
}

.header__menuList {
    display: flex;
}

.header__menuItem {
    margin-left: 25px;
    font-weight: 700;
}

.header__menuItem:first-child {
    margin: 0;
}

@media screen and (min-width: 960px) {
    /* pc用スタイル */

}

@media screen and (max-width: 959px) {
    /* sp用スタイル */

}